@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-text-color: #333;

  --primary-color: #A64AC9;
  --secondary-color: #FCCD04;
  --tertiary-color: #FFB48F;
  --base-color: #F5E6CC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-text-color);
  line-height: 1.6;

  /* Add background image */
  background: url(../../../public/Background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

/* Cards */

.card-main {
  width: 400px;

  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  padding: 8px;
}

/* Forms */

.form-container {
  width: 100%;
  padding: 2px;
}

/* Utilities */

.align-hori-center {
  margin: 0 auto;
}