@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-text-color: #333;

  --primary-color: #A64AC9;
  --secondary-color: #FCCD04;
  --tertiary-color: #FFB48F;
  --base-color: #F5E6CC;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: var(--primary-text-color);
  line-height: 1.6;

  /* Add background image */
  background: url(../../../public/Background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h4 {
  margin: 5px 0;
  font-weight: bold;
}

/* Components */

.color-picker {
  width: 75%;
  padding: 5%;
  padding-top: 0;
}

.circle-picker {
  justify-content: center;
}

/* Cards */

.card-main {
  width: 400px;

  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
  padding: 8px;
}

/* Forms */

.form-container {
  width: 100%;
  padding: 2px;
}

input[type='text'] {
  width: 100%;
  margin: 5px 0;
  height: 30px;

  border: solid var(--base-color) 1px;
  border-radius: 30px;

  -webkit-transition : border 200ms ease-out; 
  -moz-transition : border 200ms ease-out;
  -o-transition : border 200ms ease-out;
}

input[type='text']:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}
input[type='text']:hover {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
}

/* Buttons */

.btn {
  display: inline-block;

  margin: 2px;
  padding: 6px 12px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;

  border: none;
  border-radius: 5px;
}

.btn-primary {
  color: white;
  background-color: var(--primary-color);
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-secondary {
  color: white;
  background-color: var(--tertiary-color);
}

.btn:hover {
  transform: scale(.98);
}

/* Utilities */

.align-hori-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}